# DB
DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432
DB_DIALECT=postgres
TOKEN_BOT=

# Jwt
SECRET_TOKEN=
# Mail
MAIL_SERVICE=Gmail
MAIL_USER=
MAIL_TYPE=OAuth2

MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
MAIL_ACCESS_URL=
MAIL_REFRESH_TOKEN=

# App
PORT=5000
FRONT_URL=
API_URL=

# Pay
PAYMENT_TOKEN=

# Bot
GET_AVATAR_API=https://api.telegram.org/file/

# Support
MAIL_SUPPORT=

